<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:postgresql://localhost:5432/relaciones</property>
      <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="connection.username">root</property>
      <property name="connection.password">root</property>

    <!-- DB schema will be updated if needed -->
      <property name="hibernate.hbm2ddl.auto">update</property>
      <property name="show_sql">true</property>

      <mapping class="com.dam2.ej2relaciones.Empleado"/>
      <mapping class="com.dam2.ej2relaciones.Empresa"/>

      <mapping class="com.dam2.ej2relaciones.Deporte"/>
      <mapping class="com.dam2.ej2relaciones.Usuario"/>
      <mapping class="com.dam2.ej2relaciones.Inversor"/>
      <mapping class="com.dam2.ej2relaciones.Jefe"/>
      <mapping class="com.dam2.ej2relaciones.Tecnico"/>

  </session-factory>
</hibernate-configuration>
